@layer components {
  .input-number {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .scroll-hidden {
    scrollbar-width: none;

    /* width */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .scroll-bar-2 {
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
  }

  .scroll-bar-height-4 {
    /* height */
    &::-webkit-scrollbar {
      height: 4px;
    }
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: red;
    transform-origin: 0;
  }

  .main-container {
    @apply w-full max-w-[1200px] mx-auto py-10;
  }
}