:root {
  --ui-bg: #18181B;
  --main-background: #0f0f11;
  --text-color: #fbfbfb;
  --gray-color: #888;
  --gray-hover-color: #555;
  --svg-color: #fbfbfb;
  --table-bg: #18181b;
  --table-header: #27272a;
  --common-hover: #3f3f45;
}
